/* BODY */
body{
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
    max-height: 57px;
    color: white;
}
.navigation .navbar-brand{
    background-color: #0bada6;
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-decoration: none;
}

/* TITLE */

/* TEXT */

/* CONTAINER */

/* TABLES */

/* IMAGES */

/* FOOTER */

/* MOBILE */